 
# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.dart_tool/
.packages
.pub-cache/
build/
ios/Flutter/.last_build_id
android/.gradle/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.gradle/
**/GeneratedPluginRegistrant.java
**/GeneratedPluginRegistrant.m
**/*.iml
.vscode/
.DS_Store
*.log
pubspec.lock
